
:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    /*background-color: blue;*/
    margin: 0;
    counter-reset: section;
}

.banner {
    background-color: white;
    height: 40vh;
    min-height: 100px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    padding:  15px;
    background-image: url('https://media.istockphoto.com/id/538167266/photo/allergy-food.jpg?s=612x612&w=0&k=20&c=3k4nZbId7-e4L21nXdgdFBNm9ShD2sLxhIx5XbdLYlc=');

/*    */

}

.navbar {
    border: 2px solid grey;
}

.col {
    padding: 10px;

    /*background-color: white;*/
    border: 1px solid grey;
}

.card-block {
    background-color: black;
    margin: 80px;
    padding: 10px;
}

.header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Ffood-allergies&psig=AOvVaw2jSc5SGGIxhniR3cJrGrW-&ust=1680694280272000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCLj1wp-QkP4CFQAAAAAdAAAAABAE
    )
}

.row {
    padding: 30px;
}

#hidden-results {
    display: none;
}

#result3 {
    display: none;
    cursor: pointer;
}

#result2 {
    cursor: pointer;
}

#dietary-restrictions {
    display: block;
}

#hideMe {
    display: block;
}

#hideMe2 {
    display: block;
}

/*.button, button {*/
/*    background: #aed9ff;*/
/*    padding: 3px;*/
/*    border-radius: 3px;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    border: 1px solid black;*/
/*    cursor: pointer;*/
/*}*/

.button:hover, button:hover {
    background: #9cc3e4;
}

.card {
    /*color: var(--primary-color);*/
    /*background-color: var(--secondary-color);*/

}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}

.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: inherit;
    flex-direction: column;
}

#hidden-results {
    display: none;
    cursor: pointer;
}

#dietary-restrictions {
    display: block;
}

h4 {
    text-align: center;
}

h1 {
    text-align: center;
}
span{
    font-size: 2.5rem;
    padding: 1rem 3rem;
    color: cyan;
    text-transform: uppercase;
    position: relative;
    /*justify-content: center;*/
}

body {
    background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    -webkit-animation: slidein 40s;
    animation: slidein 40s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -400px 0px;background-size:2750px;}
}

@keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -400px 0px;background-size:2750px;}

}
.container {
    max-width: 550px;
    margin: auto;
    padding: 0 1rem;
}
textarea {
    width: 100%;
    height: 8rem;
}
button {
    margin: 2rem 0;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
}

/* creating css loader */



.btn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
}

.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            rgba(146, 148, 248, 0.4),
            transparent
    );
    transition: all 650ms;
}

.btn:hover:before {
    left: 100%;
}

/* styling for checkboxes*/
.btn-container {
    margin-left: 25%;
}

h1 {
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    color: #87e0fd;
}
.toggle {
    float:left;
    width: 20px;
    height: 20px;
    padding: 4px;
    text-align: center;
    background: #191919;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /* auto, since non-WebKit browsers doesn't support input styling */
    margin: auto 10px;
    border: 1px solid #87e0fd; /* Mobile Safari */
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    outline:none;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);

}

.toggle:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:checked {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}
.toggle:after {
    content: '';
    text-shadow: 0 -1px 0 #bfbfbf;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    margin: auto;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

}

.toggle:checked:after {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);

    background: #87e0fd; /* Old browsers */
    /*background: -moz-radial-gradient(center, ellipse cover,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); !* Opera 12+ *!*/
    /*background: -ms-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); !* IE10+ *!*/
    /*background: radial-gradient(ellipse at center,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); !* W3C *!*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}







